* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    background: #f5f6fa;
    padding: 3rem;
  }
  
  .product {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  .image-section{
  width: 300px;
  height: 400px;
  overflow: hidden;
  }
  /* Image */
  .product img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position:top center ;
    transition: transform 0.3s ease;
  }
  
  .product img:hover {
    transform: scale(1.05);
  }
  
  /* Info */
  .product-info {
    flex: 1;
  }
  
  .product-info h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .price {
    color: #0d6efd;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Tabs */
  .tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .tabs button {
    padding: 0.5rem 1rem;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .tabs button.active {
    background: #0d6efd;
    color: #fff;
  }
  
  .tab-content {
    display: none;
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
  }
  
  .tab-content.active {
    display: block;
  }
  
  /* Quantity */
  .quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
  }
  
  .quantity button {
    width: 35px;
    height: 35px;
    border: none;
    background: #ddd;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .quantity span {
    font-size: 1.1rem;
  }
  
  /* CTA */
  .actions button {
    padding: 0.8rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add {
    background: #0d6efd;
    color: #fff;
  }
  
  .buy {
    background: #111;
    color: #fff;
    margin-left: 1rem;
  }